# ─── MongoDB ───────────────────────────────────
MONGO_USER=pixel_admin
MONGO_PASSWORD=changeme_strong_password
MONGO_DB=pixel-war

# ─── API ───────────────────────────────────────
API_PORT=3000
JWT_SECRET=changeme_long_random_string

# URL publique du frontend autorisée par CORS
# Si tu as un domaine : https://pixelwar.mondomaine.com
CLIENT_ORIGIN=http://monserveur.com:3000

# ─── Client (injectée au moment du build Docker) ───
# URL publique à laquelle le navigateur appellera l'API
VITE_API_URL=http://monserveur.com:3000

# ─── Compte admin initial ──────────────────────
ADMIN_EMAIL=admin@mondomaine.com
ADMIN_PASSWORD=changeme_admin_password
ADMIN_USERNAME=admin
